.tabs-container {
  display: flex;
  gap: 1rem;
  border-bottom: 2px solid #020202;
  padding-bottom: 0.75rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;    
}


.tab {
  font-weight: 500;
  font-size: large;
  padding: 0.25rem 1rem;
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  border-radius: 9999px; 
  transition: background-color 0.2s, color 0.2s;
  font-family: 'Poppins', sans-serif; 
}

.tab.selected {
  background-color: #3C2A21; 
  color: white;
}
