/* Container for the tabs */
.tabs-container {
  display: flex;
  gap: 1rem; /* space between tabs */
  border-bottom: 2px solid #020202; /* line underneath all tabs */
  padding-bottom: 0.75rem;
  margin-bottom: 2rem;
}

/* Default tab */
.tab {
  font-weight: 500;
  font-size: large;
  padding: 0.25rem 1rem;
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  border-radius: 9999px; /* for when selected */
  transition: background-color 0.2s, color 0.2s;
}

/* Selected tab */
.tab.selected {
  background-color: #3C2A21; /* brown */
  color: white;
}