.cashier-dashboard .order-panel {
    position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  z-index: 50;
}
.cashier-dashboard .order-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #020202
}

.cashier-dashboard .order-items {
  flex: 1;
  max-height: 700px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.cashier-dashboard .order-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #f9f9f9;
  padding: 12px;
  border-radius: 12px;
  font-size: 1rem;
  position: relative;
}

.cashier-dashboard .item-left {
  flex: 1;
}

.cashier-dashboard .item-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: flex-end;
  min-width: 100px; 
}

.cashier-dashboard .quantity-controls {
 display: flex;
  align-items: center;
  gap: 8px;        
}

.cashier-dashboard .quantity-btn {
  width: 36px;
  height: 36px;
  border: 2px solid #B43F3F; 
  border-radius: 8px;
  background-color: #fff;
  color: #BF1834;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
}

.cashier-dashboard .quantity-btn:hover {
  background-color: #bf183460;
}

.cashier-dashboard .quantity-btn:active {
  background-color: #bf183460;
}

.cashier-dashboard .quantity-controls .quantity {
  min-width: 28px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #020202;
}

.cashier-dashboard .item-name {
  font-weight: 600;
  margin-bottom: 4px;
}

.cashier-dashboard .item-options {
  font-size: 0.9rem;
  color: #555;
}

.cashier-dashboard .empty-text {
  text-align: center;
  color: #020202;
  font-style: italic;
}

.cashier-dashboard .order-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  padding-top: 10px;
  gap: 100px;
}

.cashier-dashboard .total {
  font-weight: 600;
  font-size: 1.2rem;
  color: #020202;
}

.cashier-dashboard .checkout-btn {
  padding: 22px 40px;
  background-color: #BF1834;
  color: #fff;
  border: none;
  border-radius: 9999px;
  font-family: Poppins, sans-serif;
  font-size: 1.25rem;
  cursor: pointer;
  transition: background 0.2s;
}

.cashier-dashboard .checkout-btn:hover {
  background-color: #8c2f2f;
}