.dashboard-container {
  display: flex;
  flex-direction: row;
  height: 100vh; 
  overflow: hidden;
}

.left-section {
  flex: 1; 
  padding: 20px;
  overflow-y: auto;
}

.right-section {
  width: 450px;
  background-color: #f9f9f9;
  overflow-y: auto;
  min-width: 400px;
  box-sizing: border-box; 
}

.dashboard-header {
  font-size:xx-large;
  font-weight: 600;    
  margin-bottom: 1.5rem; 
}

.logout-container {
  position: absolute;
  bottom: 20px; 
  left: 20px;  
}

.logout-button {
  display: flex;
  align-items: center;
  gap: 0.5rem; 
  background-color: #3C2A21;
  color: white;
  padding: 0.5rem 1.25rem; 
  border-radius: 9999px; 
  transition: background-color 0.2s;
  font-family: 'Poppins', sans-serif; 
  font-size: 1rem;
}

.logout-button:hover {
  background-color: #2a1d15;
}

.mt-8 {
  margin-top: 2rem;
}