.portal-container {
  display: flex;
  flex-direction: column;
  align-items: center;   
  justify-content: center;
  gap: 20px;
  margin-top: 80px;
}
.portal-button {
  background-color: #BF1834;
  color: #FFFFFF;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  margin: 10px;
  transition: all 0.3s ease;
  width: 280px;
  text-align: center;
}
